In [1]:
import numpy as np
import pandas as pd

In [5]:
# Reading csv file with skip 2 rows without header
df = pd.read_csv("C:\\Users\\HP\\Documents\\Pandas\\Datasets\\student-mat.csv")
df.head()
df.tail()

    school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
390  MS;"M";20;"U";"LE3";"A";2;2;"services";"servic...
391  MS;"M";17;"U";"LE3";"T";3;1;"services";"servic...
392  MS;"M";21;"R";"GT3";"T";1;1;"other";"other";"c...
393  MS;"M";18;"R";"LE3";"T";3;2;"services";"other"...
394  MS;"M";19;"U";"LE3";"T";1;1;"other";"at_home";...

In [9]:
df.head()

  school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0  GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher...
1  GP;"F";17;"U";"GT3";"T";1;1;"at_home";"other";...
2  GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3  GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4  GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...

In [10]:
df.tail()

    school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
390  MS;"M";20;"U";"LE3";"A";2;2;"services";"servic...
391  MS;"M";17;"U";"LE3";"T";3;1;"services";"servic...
392  MS;"M";21;"R";"GT3";"T";1;1;"other";"other";"c...
393  MS;"M";18;"R";"LE3";"T";3;2;"services";"other"...
394  MS;"M";19;"U";"LE3";"T";1;1;"other";"at_home";...

In [8]:
# Loading csv file with skip first 2 rows without header
df_csv = pd.read_csv("C:\\Users\\HP\\Documents\\Pandas\\Datasets\\student-mat.csv",skiprows=3)
df_csv

    GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";"other";"mother";1;2;3;"yes";"no";"yes";"no";"yes";"yes";"yes";"no";4;3;2;2;3;3;10;"7";"8";10
0    GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
1    GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...
2    GP;"M";16;"U";"LE3";"T";4;3;"services";"other"...
3    GP;"M";16;"U";"LE3";"T";2;2;"other";"other";"h...
4    GP;"F";17;"U";"GT3";"A";4;4;"other";"teacher";...
..                                                 ...
387  MS;"M";20;"U";"LE3";"A";2;2;"services";"servic...
388  MS;"M";17;"U";"LE3";"T";3;1;"services";"servic...
389  MS;"M";21;"R";"GT3";"T";1;1;"other";"other";"c...
390  MS;"M";18;"R";"LE3";"T";3;2;"services";"other"...
391  MS;"M";19;"U";"LE3";"T";1;1;"other";"at_home";...

[392 rows x 1 columns]

In [45]:
# Read csv file from url
url = "https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv"
df_url = pd.read_csv(url)
df_url

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [12]:
# Read text file 
df_txt = pd.read_csv("C:\\Users\\HP\\Documents\\Pandas\\Datasets\\hello..!!.txt")
df_txt

           Hiii..!!!...
0     Good morning.....
1  Myself someone.....

In [17]:
# Read excel file
df_excel = pd.read_excel("C:\\Users\\HP\\Documents\\Pandas\\Datasets\\student-por.xlsx")
df_excel

    school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0    GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher...
1    GP;"F";17;"U";"GT3";"T";1;1;"at_home";"other";...
2    GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3    GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4    GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...
..                                                 ...
644  MS;"F";19;"R";"GT3";"T";2;3;"services";"other"...
645  MS;"F";18;"U";"LE3";"T";3;1;"teacher";"service...
646  MS;"F";18;"U";"GT3";"T";1;1;"other";"other";"c...
647  MS;"M";17;"U";"LE3";"T";3;1;"services";"servic...
648  MS;"M";18;"R";"LE3";"T";3;2;"services";"other"...

[649 rows x 1 columns]

In [18]:
# Display first 6 rows
df.head(6)

  school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0  GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher...
1  GP;"F";17;"U";"GT3";"T";1;1;"at_home";"other";...
2  GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3  GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4  GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...
5  GP;"M";16;"U";"LE3";"T";4;3;"services";"other"...

In [19]:
# Display last 6 rows 
df.tail(6)

    school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
389  MS;"F";18;"U";"GT3";"T";1;1;"other";"other";"c...
390  MS;"M";20;"U";"LE3";"A";2;2;"services";"servic...
391  MS;"M";17;"U";"LE3";"T";3;1;"services";"servic...
392  MS;"M";21;"R";"GT3";"T";1;1;"other";"other";"c...
393  MS;"M";18;"R";"LE3";"T";3;2;"services";"other"...
394  MS;"M";19;"U";"LE3";"T";1;1;"other";"at_home";...

In [20]:
# Display random 7 sample rows
df.sample()

    school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
362  MS;"F";18;"U";"GT3";"T";3;3;"services";"servic...

In [21]:
df.sample(7)

    school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
189  GP;"M";17;"R";"GT3";"T";1;2;"at_home";"other";...
39   GP;"F";15;"R";"GT3";"T";2;2;"at_home";"other";...
135  GP;"F";15;"U";"GT3";"T";4;4;"services";"at_hom...
229  GP;"F";17;"U";"GT3";"A";2;1;"other";"other";"c...
44   GP;"F";16;"U";"LE3";"T";2;2;"other";"at_home";...
22   GP;"M";16;"U";"LE3";"T";4;2;"teacher";"other";...
288  GP;"M";18;"U";"GT3";"T";2;1;"services";"servic...

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                               --------------  -----
 0   school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3  395 non-null    object
dtypes: object(1)
memory usage: 3.2+ KB

In [23]:
# display data types
df.dtypes

school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3    object
dtype: object

In [24]:
df.dtypes.value_counts()

object    1
Name: count, dtype: int64

In [25]:
# display numner of rows and columns
df.shape

(395, 1)

In [26]:
df.columns

Index(['school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3'], dtype='object')

In [28]:
# Read text file 
df_csv = pd.read_csv("C:\\Users\\HP\\Documents\\Pandas\\Datasets\\student-mat.csv")
df_csv

    school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0    GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher...
1    GP;"F";17;"U";"GT3";"T";1;1;"at_home";"other";...
2    GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3    GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4    GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...
..                                                 ...
390  MS;"M";20;"U";"LE3";"A";2;2;"services";"servic...
391  MS;"M";17;"U";"LE3";"T";3;1;"services";"servic...
392  MS;"M";21;"R";"GT3";"T";1;1;"other";"other";"c...
393  MS;"M";18;"R";"LE3";"T";3;2;"services";"other"...
394  MS;"M";19;"U";"LE3";"T";1;1;"other";"at_home";...

[395 rows x 1 columns]

In [44]:
# Display age column first 3 rows data 
df_csv['age'].head(3)

KeyError: 'age'

In [37]:
df[2:7]

  school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
2  GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3  GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4  GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...
5  GP;"M";16;"U";"LE3";"T";4;3;"services";"other"...
6  GP;"M";16;"U";"LE3";"T";2;2;"other";"other";"h...

In [38]:
df[:11]

   school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0   GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher...
1   GP;"F";17;"U";"GT3";"T";1;1;"at_home";"other";...
2   GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3   GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4   GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...
5   GP;"M";16;"U";"LE3";"T";4;3;"services";"other"...
6   GP;"M";16;"U";"LE3";"T";2;2;"other";"other";"h...
7   GP;"F";17;"U";"GT3";"A";4;4;"other";"teacher";...
8   GP;"M";15;"U";"LE3";"A";3;2;"services";"other"...
9   GP;"M";15;"U";"GT3";"T";3;4;"other";"other";"h...
10  GP;"F";15;"U";"GT3";"T";4;4;"teacher";"health"...

In [39]:
df[-2:]

    school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
393  MS;"M";18;"R";"LE3";"T";3;2;"services";"other"...
394  MS;"M";19;"U";"LE3";"T";1;1;"other";"at_home";...

In [40]:
pip install ucimlrepo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ucimlrepo in c:\users\hp\appdata\roaming\python\python312\site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in c:\programdata\anaconda3\lib\site-packages (from ucimlrepo) (2024.8.30)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Note: you may need to restart the kernel to use updated packages.